# 忽略匹配下列规则

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
rebel.xml

### maven ###
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

### logs ####
/logs/
*.log

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~
*.lock

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code

### node ###
node_modules
package-lock.json
dist
